{%- comment -%}
  comments.php, read-only: the old comments are shown, the form is gone (comments were
  closed on the archived blog anyway).
{%- endcomment -%}
{%- assign _comments = site.data.comments | where: "url", page.url -%}
{%- if _comments.size > 0 %}
				<h3 id="comments" data-pagefind-ignore="all">{% if _comments.size == 1 %}Ein Kommentar{% else %}{{ _comments.size }} Kommentare{% endif %}</h3>
				<ol class="commentlist" data-pagefind-ignore="all">
				{%- for c in _comments %}
					{%- assign _m = c.date | date: "%-m" | minus: 1 %}
					{%- assign _odd = forloop.index0 | modulo: 2 %}
					<li class="comment {% if _odd == 1 %}odd alt{% else %}even{% endif %}" id="comment-{{ c.id }}">
						<div class="comment-author vcard"><cite class="fn">{% if c.author_url != "" %}<a href="{{ c.author_url }}" rel="external nofollow ugc" class="url">{{ c.author | escape }}</a>{% else %}{{ c.author | escape }}{% endif %}</cite> <span class="says">sagt:</span></div>
						<div class="comment-meta commentmetadata"><a href="#comment-{{ c.id }}">{{ c.date | date: "%-d" }}. {{ site.months_de[_m] }} {{ c.date | date: "%Y" }} um {{ c.date | date: "%H:%M" }}</a></div>
						{{ c.content }}
					</li>
				{%- endfor %}
				</ol>
				<p class="nocomments" data-pagefind-ignore>Kommentare sind geschlossen.</p>
{%- endif %}
