<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{% if page.title %}{{ page.title | strip_html }} &raquo; {% endif %}{{ site.title }}</title>
	<meta name="description" content="{% if page.excerpt and page.collection == 'posts' %}{{ page.excerpt | strip_html | normalize_whitespace | truncate: 160 | escape_once }}{% else %}{{ site.title }} - {{ site.description }}{% endif %}" />
	<link rel="canonical" href="{{ page.url | absolute_url }}" />
	<link rel="shortcut icon" type="image/gif" href="{{ '/favicon.gif' | relative_url }}" />
	<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" type="text/css" media="screen" />
	{% feed_meta %}
</head>
